*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(5, 7, 20);
}
.div1{
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    width: 25%;
    height: 75vh;
    background-color: rgb(17, 17, 68);
    margin: 20px auto;
    color: white;
    font-weight: bolder;
    font-size: 30px;
}
.grid{
    border: 1px solid rgb(36, 33, 33);
    display: flex;
    justify-content: center;
    align-items: center;
}
.screen{
    grid-column-start: 1; 
    grid-column-end:5;
    grid-row-start: 1;
    grid-row-end: 3;
    background-color: rgb(241, 243, 245);
    display: flex;
    justify-content: flex-start;
    color: black;
}
.C{
    grid-column-start: 1;
    grid-column-end: 3;
    color: white;
    background-color: rgb(235, 15, 15);
}

.plus{
    grid-column-start: 4; 
    grid-column-end:5;
    grid-row-start: 5;
    grid-row-end: 7;

}
.equal{
    background-color: orange;
}

